<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pavlos Andreadis - Personal Website</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="../pages/index.html">Home</a></li>
            <li><a href="../pages/about.html">About</a></li>
            <li><a href="../pages/research.html">Research</a></li>
            <li><a href="../pages/teaching.html">Teaching</a></li>
            <li><a href="../pages/contact.html">Contact</a></li>
            <li><a href="../pages/genaiart.html">GenAI Art</a></li>
            <li><a href="../pages/ai-art-exhibition.html">AI Art Exhibition</a></li>
            <li><a href="../pages/spel.html">SPEL</a></li>
        </ul>
    </nav>
</body>
</html>